<div class="alert alert-info" role="alert" *ngIf="loading">
    <h4 class="alert-heading">Cargando...</h4>
    <i class="fa fa-spin fa-sync"></i>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="error">
    <h4 class="alert-heading">Error</h4>
    <pre>{{error | json}}</pre>
  </div>

<div *ngIf="!loading" style="display: flex; flex-wrap:wrap; justify-content: space-between">
    <div class="card my-3" style="width: 18rem;" *ngFor="let item of listUsers">
        <img [src]="item.avatar" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.first_name}} {{item.last_name}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
